<%- include ('partials/header') %>
<img src='/uploads/<%=profile.username%>' width="150" height="150"><br>
<a href='/p/upload'>upload photos</a><br>
<a href='/p'>edit profile</a></p>
<p><%= profile.username %></p>
<p><%= profile.age %></p>
<p><%= profile.gender %></p>
<p><%= profile.orientation %></p>
<p><%= profile.preference %></p>
<p><%= profile.interests %></p>
<p><%= profile.city %></p>
<p><%= profile.country %></p>
<p><%= profile.bio %></p>

	<!-- init admin -->
    <form method="post" id="adminForm" action="/p/va">
		<br><label for="admin">admin</label>
		<input type="checkbox" id="admin" name="admin" style="margin-left: 1%;"></br>
		<label for="passkey" style="display: none;" class="verify">passkey</label><br>
		<input type="password" style="display: none;" class="verify" id="passkey" name="key" required><br><br>
		<button class="verify" style="display: none;" id="kingme" type="submit">verify</button><br>
		</form><br>
		<!-- js include for async admin verification -->
			<script src="/js/admin.js"></script>
	<!-- eoc -->

<%- include ('partials/footer') %>
